body{
    background-color: black;
}
.app{
    width: 100%;
    display: block;
    margin: auto;
}
.header
{
    display: block;
    margin: auto;
    border:1px solid black;
    padding: 20px;
    font-size: xx-large;
    color: white;
}
.container
{
    display:block;
    margin: auto;
    /* border: 1px solid white; */
    color: aliceblue;
    height: 80%;
    width: 50%;
    overflow-y: auto;
}   
.message{
    display:flex;
    /* border:1px solid white; */
    margin: 8px;
    padding:8px;
    width: 50%;
    word-wrap: break-word;
    
}
.left{
    float: left;
    clear:both;
}
.right{
    float:right;
    clear:both;
}
.send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 985px;
    width: 100%;
    /* position: absolute; */
    bottom: 3%;

}
#msg{
    width: 70%;
    border: 2px solid black;
    height: 28px;
}
